<a href="https://colab.research.google.com/github/Thanyarat281-6/BSC_DPDM2025/blob/main/midterm_663020281_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##1.อ่านไฟล์ทั้งหมด และ แสดงโครงสร้างของข้อมูล อธิบายความหมายแต่ละคอลัมน์

In [9]:
import pandas as pd
import glob
import os

path = '/content/drive/MyDrive/Input - (Operation Daily rain from API_ 2025)/2025-07/*.csv'
files = glob.glob(path)

if not files:
    print(f"ไม่พบไฟล์ CSV ในพาธที่ระบุ: {path}. สร้าง DataFrame เปล่าแทน.")
    df_seven = pd.DataFrame()
else:

    print(f"พบ {len(files)} ไฟล์ CSV กำลังดำเนินการรวมข้อมูล...")
    df_seven  = pd.concat(
        (pd.read_csv(f, encoding='utf-8-sig') for f in files),
        ignore_index=True
    )
    print("รวมไฟล์ CSV ทั้งหมดแล้ว. แสดง 5 แถวแรกของ DataFrame:")
    display(df_seven.head())

พบ 31 ไฟล์ CSV กำลังดำเนินการรวมข้อมูล...
รวมไฟล์ CSV ทั้งหมดแล้ว. แสดง 5 แถวแรกของ DataFrame:

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,tele_station_oldcode,measure_datetime
0,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,5.0,122,PNRN,2025-07-27
1,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,17.6,1109578,ONE089,2025-07-27
2,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,20.0,1512927,NaN,2025-07-27
3,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,0.0,722,POCG,2025-07-27
4,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,10.2,1109502,ONE013,2025-07-27

In [10]:
path = '/content/drive/MyDrive/Input - (Operation Daily rain from API_ 2025)/2025-08/*.csv'
files = glob.glob(path)

if not files:
    print(f"ไม่พบไฟล์ CSV ในพาธที่ระบุ: {path}. สร้าง DataFrame เปล่าแทน.")
    df_eight = pd.DataFrame()
else:

    print(f"พบ {len(files)} ไฟล์ CSV กำลังดำเนินการรวมข้อมูล...")
    df_eight  = pd.concat(
        (pd.read_csv(f, encoding='utf-8-sig') for f in files),
        ignore_index=True
    )
    print("รวมไฟล์ CSV ทั้งหมดแล้ว. แสดง 5 แถวแรกของ DataFrame:")
    display(df_eight.head())

พบ 32 ไฟล์ CSV กำลังดำเนินการรวมข้อมูล...
รวมไฟล์ CSV ทั้งหมดแล้ว. แสดง 5 แถวแรกของ DataFrame:

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,tele_station_oldcode,measure_datetime,station_code,value
0,2025-08-03 00:00:00+07:00,2025-08-03T07:00:00+07:00,0.0,575571.0,BKC007,2025-08-02,NaN,NaN
1,2025-08-03 00:00:00+07:00,2025-08-03T07:00:00+07:00,0.0,1512928.0,NaN,2025-08-02,NaN,NaN
2,2025-08-03 00:00:00+07:00,2025-08-03T07:00:00+07:00,0.0,1512927.0,NaN,2025-08-02,NaN,NaN
3,2025-08-03 00:00:00+07:00,2025-08-03T07:00:00+07:00,9.0,1395256.0,NaN,2025-08-02,NaN,NaN
4,2025-08-03 00:00:00+07:00,2025-08-03T07:00:00+07:00,0.0,1395255.0,NaN,2025-08-02,NaN,NaN

In [11]:
path = '/content/drive/MyDrive/Input - (Operation Daily rain from API_ 2025)/2025-09/*.csv'
files = glob.glob(path)

if not files:
    print(f"ไม่พบไฟล์ CSV ในพาธที่ระบุ: {path}. สร้าง DataFrame เปล่าแทน.")
    df_nine = pd.DataFrame()
else:

    print(f"พบ {len(files)} ไฟล์ CSV กำลังดำเนินการรวมข้อมูล...")
    df_nine  = pd.concat(
        (pd.read_csv(f, encoding='utf-8-sig') for f in files),
        ignore_index=True
    )
    print("รวมไฟล์ CSV ทั้งหมดแล้ว. แสดง 5 แถวแรกของ DataFrame:")
    display(df_nine.head())

พบ 32 ไฟล์ CSV กำลังดำเนินการรวมข้อมูล...
รวมไฟล์ CSV ทั้งหมดแล้ว. แสดง 5 แถวแรกของ DataFrame:

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,tele_station_oldcode,measure_datetime,station_code,value
0,2025-09-24 00:00:00+07:00,2025-09-24T07:00:00+07:00,2.4,1109572.0,ONE083,2025-09-23,NaN,NaN
1,2025-09-24 00:00:00+07:00,2025-09-24T07:00:00+07:00,0.8,672.0,WTBT,2025-09-23,NaN,NaN
2,2025-09-24 00:00:00+07:00,2025-09-24T07:00:00+07:00,23.4,671.0,DIV002,2025-09-23,NaN,NaN
3,2025-09-24 00:00:00+07:00,2025-09-24T07:00:00+07:00,0.2,854.0,TSDO,2025-09-23,NaN,NaN
4,2025-09-24 00:00:00+07:00,2025-09-24T07:00:00+07:00,0.2,611.0,DIV005,2025-09-23,NaN,NaN

In [12]:
path = '/content/drive/MyDrive/Input - (Operation Daily rain from API_ 2025)/2025-10/*.csv'
files = glob.glob(path)

if not files:
    print(f"ไม่พบไฟล์ CSV ในพาธที่ระบุ: {path}. สร้าง DataFrame เปล่าแทน.")
    df_ten = pd.DataFrame()
else:

    print(f"พบ {len(files)} ไฟล์ CSV กำลังดำเนินการรวมข้อมูล...")
    df_ten  = pd.concat(
        (pd.read_csv(f, encoding='utf-8-sig') for f in files),
        ignore_index=True
    )
    print("รวมไฟล์ CSV ทั้งหมดแล้ว. แสดง 5 แถวแรกของ DataFrame:")
    display(df_ten.head())

พบ 31 ไฟล์ CSV กำลังดำเนินการรวมข้อมูล...
รวมไฟล์ CSV ทั้งหมดแล้ว. แสดง 5 แถวแรกของ DataFrame:

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,tele_station_oldcode,measure_datetime
0,2025-10-08 00:00:00+07:00,2025-10-07T07:00:00+07:00,0.0,417,VLGE04,2025-10-07
1,2025-10-08 00:00:00+07:00,2025-10-07T07:00:00+07:00,0.0,464,WAN002,2025-10-07
2,2025-10-08 00:00:00+07:00,2025-10-07T07:00:00+07:00,0.0,898,VLGE42,2025-10-07
3,2025-10-08 00:00:00+07:00,2025-10-07T07:00:00+07:00,0.2,1198626,TRD005,2025-10-07
4,2025-10-08 00:00:00+07:00,2025-10-07T07:00:00+07:00,0.0,698,WCBR,2025-10-07

In [13]:
path = '/content/drive/MyDrive/Input - (Operation Daily rain from API_ 2025)/2025-11/*.csv'
files = glob.glob(path)

if not files:
    print(f"ไม่พบไฟล์ CSV ในพาธที่ระบุ: {path}. สร้าง DataFrame เปล่าแทน.")
    df_eleven = pd.DataFrame()
else:

    print(f"พบ {len(files)} ไฟล์ CSV กำลังดำเนินการรวมข้อมูล...")
    df_eleven = pd.concat(
        (pd.read_csv(f, encoding='utf-8-sig') for f in files),
        ignore_index=True
    )
    print("รวมไฟล์ CSV ทั้งหมดแล้ว. แสดง 5 แถวแรกของ DataFrame:")
    display(df_eleven.head())

พบ 30 ไฟล์ CSV กำลังดำเนินการรวมข้อมูล...
รวมไฟล์ CSV ทั้งหมดแล้ว. แสดง 5 แถวแรกของ DataFrame:

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,tele_station_oldcode,measure_datetime
0,2025-11-08 00:00:00+07:00,2025-11-07T07:00:00+07:00,0.0,455701,ONWR02,2025-11-07
1,2025-11-08 00:00:00+07:00,2025-11-07T07:00:00+07:00,11.6,1109584,ONE095,2025-11-07
2,2025-11-08 00:00:00+07:00,2025-11-07T07:00:00+07:00,15.4,618,SKG005,2025-11-07
3,2025-11-08 00:00:00+07:00,2025-11-07T07:00:00+07:00,26.0,278,TKPP,2025-11-07
4,2025-11-08 00:00:00+07:00,2025-11-07T07:00:00+07:00,0.0,1109580,ONE091,2025-11-07

In [14]:
path = '/content/drive/MyDrive/Input - (Operation Daily rain from API_ 2025)/2025-12/*.csv'
files = glob.glob(path)

if not files:
    print(f"ไม่พบไฟล์ CSV ในพาธที่ระบุ: {path}. สร้าง DataFrame เปล่าแทน.")
    df_twelve = pd.DataFrame()
else:

    print(f"พบ {len(files)} ไฟล์ CSV กำลังดำเนินการรวมข้อมูล...")
    df_twelve = pd.concat(
        (pd.read_csv(f, encoding='utf-8-sig') for f in files),
        ignore_index=True
    )
    print("รวมไฟล์ CSV ทั้งหมดแล้ว. แสดง 5 แถวแรกของ DataFrame:")
    display(df_twelve.head())

พบ 31 ไฟล์ CSV กำลังดำเนินการรวมข้อมูล...
รวมไฟล์ CSV ทั้งหมดแล้ว. แสดง 5 แถวแรกของ DataFrame:

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,tele_station_oldcode,measure_datetime
0,2025-12-22 00:00:00+07:00,2025-12-21T07:00:00+07:00,0.0,654,SNKO,2025-12-21
1,2025-12-22 00:00:00+07:00,2025-12-21T07:00:00+07:00,0.0,478,NAN010,2025-12-21
2,2025-12-22 00:00:00+07:00,2025-12-21T07:00:00+07:00,0.0,1198082,NAN016,2025-12-21
3,2025-12-22 00:00:00+07:00,2025-12-21T07:00:00+07:00,0.0,350,PHKD,2025-12-21
4,2025-12-22 00:00:00+07:00,2025-12-21T07:00:00+07:00,0.0,543,PANC,2025-12-21

###รวมไฟล์ของแต่ละเดือนลงใน df_all

In [15]:
import pandas as pd

In [16]:
df_all = pd.concat([df_seven, df_eight, df_nine, df_ten, df_eleven,df_twelve])

In [17]:
df_all

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,tele_station_oldcode,measure_datetime,station_code,value
0,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,5.0,122.0,PNRN,2025-07-27,NaN,NaN
1,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,17.6,1109578.0,ONE089,2025-07-27,NaN,NaN
2,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,20.0,1512927.0,NaN,2025-07-27,NaN,NaN
3,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,0.0,722.0,POCG,2025-07-27,NaN,NaN
4,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,10.2,1109502.0,ONE013,2025-07-27,NaN,NaN
...,...,...,...,...,...,...,...,...
32694,2025-12-14 00:00:00+07:00,2025-12-13T07:00:00+07:00,0.0,254.0,BJAN,2025-12-13,NaN,NaN
32695,2025-12-14 00:00:00+07:00,2025-12-13T07:00:00+07:00,0.0,308.0,WEI012,2025-12-13,NaN,NaN
32696,2025-12-14 00:00:00+07:00,2025-12-13T07:00:00+07:00,0.0,770.0,GLF003,2025-12-13,NaN,NaN
32697,2025-12-14 00:00:00+07:00,2025-12-13T07:00:00+07:00,0.0,1109588.0,ONE099,2025-12-13,NaN,NaN
32698,2025-12-14 00:00:00+07:00,2025-12-13T07:00:00+07:00,0.0,286.0,TSUD,2025-12-13,NaN,NaN

In [18]:
smh = pd.read_csv('/content/drive/MyDrive/Stations in the model_HII.csv')
rh = pd.read_csv('/content/drive/MyDrive/Y_monthly_rain_HII_operation.csv')
hdr = pd.read_csv('/content/drive/MyDrive/hii_daily_rain.csv')

In [19]:
smh

       Node        Lat        Long
0      ACRU  15.788054  104.642235
1      BBHN   9.536913   98.579490
2      BBUA  17.372976  103.984436
3      BCNG  17.386840  103.290870
4      BDAR  14.587073  102.495190
..      ...        ...         ...
380  YOM003  18.265924  100.177060
381  YOM008  16.708166  100.171780
382  YOM009  16.310750  100.271750
383  YOM010  18.133717  100.124596
384  YOM012  17.021260   99.819710

[385 rows x 3 columns]

In [20]:
rh

      Node   rain  month  year
0     ACRU   83.0      7  2025
1     ACRU  164.8      8  2025
2     ACRU  248.6      9  2025
3     ACRU   48.4     10  2025
4     ACRU   52.2     11  2025
5     ACRU    0.2     12  2025
6     BBHN  391.6      7  2025
7     BBHN  641.2      8  2025
8     BBHN  517.6      9  2025
9     BBHN  198.8     10  2025
10    BBHN  224.0     11  2025
11    BBHN    5.8     12  2025
12    BBUA  135.6      7  2025
13    BBUA   58.0      8  2025
14    BBUA   14.8      9  2025
15    BBUA   71.8     10  2025
16  YOM012  100.6     11  2025
17  YOM012    8.0     12  2025

In [21]:
hdr

,station_code,measure_datetime,data,station_name,latitude,longitude,quality_flag,basin,sub_basin,tambon,amphoe,province,data_type
0,ABRT,2012-01-01 07:00:00+07,0.0,วัดเวฬุวัน,16.054785,103.664290,U,ชี,ลำน้ำชีส่วนที่ 4/2,เหนือเมือง,เมืองร้อยเอ็ด,ร้อยเอ็ด,rainfall_daily
1,ABRT,2012-01-03 07:00:00+07,0.0,วัดเวฬุวัน,16.054785,103.664290,U,ชี,ลำน้ำชีส่วนที่ 4/2,เหนือเมือง,เมืองร้อยเอ็ด,ร้อยเอ็ด,rainfall_daily
2,ABRT,2012-01-06 07:00:00+07,0.0,วัดเวฬุวัน,16.054785,103.664290,U,ชี,ลำน้ำชีส่วนที่ 4/2,เหนือเมือง,เมืองร้อยเอ็ด,ร้อยเอ็ด,rainfall_daily
3,ABRT,2012-01-07 07:00:00+07,0.0,วัดเวฬุวัน,16.054785,103.664290,U,ชี,ลำน้ำชีส่วนที่ 4/2,เหนือเมือง,เมืองร้อยเอ็ด,ร้อยเอ็ด,rainfall_daily
4,ABRT,2012-01-08 07:00:00+07,0.0,วัดเวฬุวัน,16.054785,103.664290,U,ชี,ลำน้ำชีส่วนที่ 4/2,เหนือเมือง,เมืองร้อยเอ็ด,ร้อยเอ็ด,rainfall_daily
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3768458,YOM016,2024-11-25 00:00:00+07,0.0,ห้วยแม่พวก,17.968712,100.063545,N,NaN,NaN,เด่นชัย,เด่นชัย,แพร่,rainfall_daily
3768459,YOM016,2024-11-26 00:00:00+07,0.0,ห้วยแม่พวก,17.968712,100.063545,N,NaN,NaN,เด่นชัย,เด่นชัย,แพร่,rainfall_daily
3768460,YOM016,2024-11-27 00:00:00+07,0.0,ห้วยแม่พวก,17.968712,100.063545,N,NaN,NaN,เด่นชัย,เด่นชัย,แพร่,rainfall_daily
3768461,YOM016,2024-11-28 00:00:00+07,0.0,ห้วยแม่พวก,17.968712,100.063545,N,NaN,NaN,เด่นชัย,เด่นชัย,แพร่,rainfall_daily
3768462,YOM016,2024-11-29 00:00:00+07,0.0,ห้วยแม่พวก,17.968712,100.063545,N,NaN,NaN,เด่นชัย,เด่นชัย,แพร่,rainfall_daily

In [22]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 180700 entries, 0 to 32698
Data columns (total 8 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   rainfall_datetime       176886 non-null  object
 1   rainfall_datetime_calc  176886 non-null  object
 2   rainfall_value          176882 non-null  float64
 3   tele_station_id         173072 non-null  float64
 4   tele_station_oldcode    168021 non-null  object
 5   measure_datetime        180700 non-null  object
 6   station_code            3814 non-null    object
 7   value                   3814 non-null    float64
dtypes: float64(3), object(5)
memory usage: 12.4+ MB

rainfall_datetime คือ วันเวลาของข้อมูลฝน

rainfall_datetime_calc คือ วันเวลาที่ใช้ในการคำนวณ

rainfall_value คือ ค่าปริมาณน้ำฝน

tele_station_id	คือ รหัสสถานีโทรมาตร (ID ในระบบฐานข้อมูล)

tele_station_oldcode คือ รหัสสถานีเดิม

measure_datetime	คือ วันเวลาที่ทำการตรวจวัดจริง

station_code	คือ รหัสสถานที่

value คือ ค่าที่วัดได้

In [23]:
smh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Node    385 non-null    object
 1   Lat     385 non-null    float64
 2   Long    385 non-null    float64
dtypes: float64(2), object(1)
memory usage: 9.2+ KB

Node คือ รหัสสถานที่ เช่น ABRT คือ วัดเวฬุวัน

Lat คือ ละติจูด

Long คือ ลองติจูด

In [24]:
rh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Node    18 non-null     object
 1   rain    18 non-null     float64
 2   month   18 non-null     int64
 3   year    18 non-null     int64
dtypes: float64(1), int64(2), object(1)
memory usage: 708.0+ bytes

Node คือ รหัสสถานที่  เช่น ABRT คือ วัดเวฬุวัน

rain คือ ปริมาณน้ำฝน

month คือ เดือน

year คือ ปี ค.ศ.

In [25]:
hdr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3768463 entries, 0 to 3768462
Data columns (total 13 columns):
 #   Column            Dtype
---  ------            -----
 0   station_code      object
 1   measure_datetime  object
 2   data              float64
 3   station_name      object
 4   latitude          float64
 5   longitude         float64
 6   quality_flag      object
 7   basin             object
 8   sub_basin         object
 9   tambon            object
 10  amphoe            object
 11  province          object
 12  data_type         object
dtypes: float64(3), object(10)
memory usage: 373.8+ MB

station_code คือ รหัสสถานี

measure_datetime คือ วัน-เวลาที่วัด

data คือ ค่าข้อมูลปริมาณน้ำฝนที่วัดได้

station_name	คือ ชื่อสถานที่

latitude	คือ ละติจูด

longitude	คือ ลองติจูด

quality_flag	คือ สถานะคุณภาพข้อมูล

basin คือ ลุ่มน้ำหลัก

sub_basin	คือ ลุ่มน้ำย่อย

tambon	คือ ตำบล

amphoe	คือ อำเภอ

province	คือ จังหวัด

data_type คือ ประเภทของข้อมูล(ประเภาทปริมาณฝน)

##2.กรองข้อมูลให้เหลือเฉพาะสถานีใน Stations in the model_HII.csv แสดงสำนวนสถานีก่อน\หลัง

In [26]:
smh['Node'].nunique()

385

In [27]:
smh['Node'].unique()

array(['ACRU', 'BBHN', 'BBUA', 'BCNG', 'BDAR', 'BDCP', 'BDGN', 'BDLH',
       'BDMG', 'BGRT', 'BHMN', 'BHRA', 'BHUN', 'BJIG', 'BKDN', 'BKHL',
       'BKHN', 'BKK001', 'BKK008', 'BKK009', 'BKK015', 'BKK017', 'BKK018',
       'BKK019', 'BKUG', 'BKWN', 'BLAT', 'BLKO', 'BLUG', 'BMDG', 'BMNK',
       'BNAN', 'BNGR', 'BNHG', 'BNHI', 'BNHO', 'BNKN', 'BNKP', 'BNLG',
       'BNMK', 'BNPI', 'BNPU', 'BNTK', 'BOKA', 'BPIA', 'BPK004', 'BPLA',
       'BPPS', 'BPTG', 'BRKM', 'BSBA', 'BSDE', 'BSKJ', 'BSMP', 'BSPN',
       'BSUM', 'BTHO', 'BWKG', 'BYNU', 'CATK', 'CBUR', 'CCSS', 'CEHM',
       'CGDO', 'CGKM', 'CGMN', 'CGSN', 'CHHA', 'CHI005', 'CHI010',
       'CHI011', 'CHI012', 'CHI013', 'CHM001', 'CHM002', 'CHM003',
       'CHM004', 'CHN004', 'CHNA', 'CHPA', 'CHR003', 'CHR004', 'CHR005',
       'CHUN', 'CLPK', 'CMSG', 'CPKC', 'CPY003', 'CPY004', 'CPY009',
       'CPY010', 'CPY012', 'CPY013', 'CPY015', 'CPY017', 'CSMO', 'CTKN',
       'DCCT', 'DGSL', 'DITO', 'DIV001', 'DIV002', 'DIV003', 'DIV004',
       'DIV005', 'DKLG', 'DKTI', 'DMKH', 'DNCM', 'DSKT', 'DTAN', 'HCTT',
       'HKTG', 'HNKA', 'HNRE', 'HSYO', 'HTTM', 'HUYG', 'HYOD', 'HYRT',
       'JBLG', 'KABG', 'KAHN', 'KAKG', 'KANG', 'KAOP', 'KGKG', 'KGLN',
       'KHHM', 'KHPB', 'KKHA', 'KKPA', 'KKTO', 'KKWF', 'KMSI', 'KNYM',
       'KOKN', 'KOLO', 'KON002', 'KON004', 'KON005', 'KOSB', 'KOSK',
       'KOSR', 'KPEM', 'KRKM', 'KRN002', 'KSOD', 'KSPS', 'KTKB', 'KTLE',
       'KWSI', 'LBI002', 'LEEE', 'LK13', 'LMPN', 'LMSK', 'LNRG', 'LPLE',
       'MCHI', 'MCRM', 'MDTG', 'MECN', 'MEPK', 'MEWG', 'MKTR', 'MMMO',
       'MMNY', 'MNRM', 'MRMT', 'MUN011', 'MUN014', 'NAKU', 'NAMN',
       'NAN001', 'NAN006', 'NAN010', 'NAN011', 'NAN012', 'NAN013',
       'NAN014', 'NANI', 'NAPJ', 'NAPK', 'NASW', 'NBON', 'NEAK', 'NGBA',
       'NGCG', 'NGCH', 'NGNG', 'NGPI', 'NKMT', 'NKNN', 'NKO001', 'NKO002',
       'NKOK', 'NKSG', 'NKTI', 'NKYG', 'NMKH', 'NMKI', 'NMPR', 'NMPT',
       'NNKO', 'NNPT', 'NOKK', 'NPCT', 'NPI001', 'NPI002', 'NPNK', 'NPSD',
       'NSRS', 'NTAN', 'NTNG', 'NTST', 'NYK000', 'PAI002', 'PAII',
       'PAS001', 'PAS002', 'PAS008', 'PASG', 'PDAM', 'PGKH', 'PHON',
       'PHPS', 'PICI', 'PIN003', 'PIN004', 'PIN005', 'PIN006', 'PLTL',
       'PMPN', 'PONG', 'PPAN', 'PPCT', 'PPRM', 'PPTC', 'PRC002', 'PRC003',
       'PRGB', 'PRN001', 'PSLI', 'PSLT', 'PTLE', 'PTWY', 'PYMR', 'PYO001',
       'RAJ002', 'RAY001', 'RBPI', 'RGKG', 'RIKK', 'RNG001', 'RNGH',
       'SAY001', 'SAY002', 'SBT1', 'SENM', 'SGKW', 'SISU', 'SITP',
       'SKE001', 'SKE002', 'SKE003', 'SKG002', 'SKG005', 'SKG007', 'SKKG',
       'SKM004', 'SKM005', 'SLA002', 'SLBC', 'SMSU', 'SNGT', 'SNKO',
       'SOKL', 'SPPT', 'SPWA', 'SRKT', 'SSRG', 'STH004', 'STH005',
       'STH011', 'STH014', 'STH016', 'STH017', 'STH018', 'STH022',
       'STH025', 'STH029', 'STH030', 'STU001', 'STWN', 'SVI001', 'SVI002',
       'SWAR', 'SWH1', 'SWKL', 'SWNG', 'SYTL', 'TAPE', 'TEPT', 'TETN',
       'TGLG', 'TGSK', 'THA001', 'THA003', 'THA006', 'THA010', 'THA011',
       'THCG', 'THNG', 'THNM', 'THTN', 'TKFA', 'TKNT', 'TKRA', 'TLAN',
       'TLPC', 'TMLI', 'TNG001', 'TNG002', 'TOGO', 'TON001', 'TON006',
       'TPI001', 'TPI002', 'TPI004', 'TPI005', 'TPI007', 'TPPN', 'TPTN',
       'TPUR', 'TRD001', 'TRD002', 'TRON', 'TSLM', 'TSUD', 'TTKO', 'TTLG',
       'TTWY', 'TUKW', 'VLGE01', 'VLGE03', 'VLGE07', 'VLGE14', 'VLGE27',
       'VLGE29', 'VLGE31', 'VLGE32', 'VLGE33', 'VLGE41', 'VLGE42',
       'WAN001', 'WAN002', 'WAN005', 'WBYN', 'WCBR', 'WCHN', 'WCTK',
       'WEI071', 'WGCI', 'WGKN', 'WGNA', 'WGTG', 'WNKH', 'WNMI', 'WPAP',
       'WRRS', 'WSPN', 'WTBT', 'WTCH', 'WTLG', 'WTSG', 'WWST', 'YCUM',
       'YGHM', 'YOM001', 'YOM003', 'YOM008', 'YOM009', 'YOM010', 'YOM012'],
      dtype=object)

In [28]:
df_all

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,tele_station_oldcode,measure_datetime,station_code,value
0,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,5.0,122.0,PNRN,2025-07-27,NaN,NaN
1,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,17.6,1109578.0,ONE089,2025-07-27,NaN,NaN
2,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,20.0,1512927.0,NaN,2025-07-27,NaN,NaN
3,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,0.0,722.0,POCG,2025-07-27,NaN,NaN
4,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,10.2,1109502.0,ONE013,2025-07-27,NaN,NaN
...,...,...,...,...,...,...,...,...
32694,2025-12-14 00:00:00+07:00,2025-12-13T07:00:00+07:00,0.0,254.0,BJAN,2025-12-13,NaN,NaN
32695,2025-12-14 00:00:00+07:00,2025-12-13T07:00:00+07:00,0.0,308.0,WEI012,2025-12-13,NaN,NaN
32696,2025-12-14 00:00:00+07:00,2025-12-13T07:00:00+07:00,0.0,770.0,GLF003,2025-12-13,NaN,NaN
32697,2025-12-14 00:00:00+07:00,2025-12-13T07:00:00+07:00,0.0,1109588.0,ONE099,2025-12-13,NaN,NaN
32698,2025-12-14 00:00:00+07:00,2025-12-13T07:00:00+07:00,0.0,286.0,TSUD,2025-12-13,NaN,NaN

In [29]:
stations_to_keep = smh['Node'].unique()

print(f"จำนวนสถานีที่ไม่ซ้ำกันใน rh ก่อนกรอง: {df_all['tele_station_oldcode'].nunique()} สถานี")

df_all_filtered =df_all[df_all['tele_station_oldcode'].isin(stations_to_keep)]

print(f"จำนวนสถานีที่ไม่ซ้ำกันใน rh หลังกรอง: {df_all_filtered['tele_station_oldcode'].nunique()} สถานี")

df_all_new = df_all_filtered

จำนวนสถานีที่ไม่ซ้ำกันใน rh ก่อนกรอง: 1514 สถานี
จำนวนสถานีที่ไม่ซ้ำกันใน rh หลังกรอง: 384 สถานี

In [30]:
df_all_new

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,tele_station_oldcode,measure_datetime,station_code,value
7,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,0.4,172.0,RBPI,2025-07-27,NaN,NaN
8,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,7.0,830.0,RNGH,2025-07-27,NaN,NaN
11,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,6.0,636.0,PPCT,2025-07-27,NaN,NaN
18,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,2.4,481.0,PICI,2025-07-27,NaN,NaN
25,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,8.2,326.0,PHON,2025-07-27,NaN,NaN
...,...,...,...,...,...,...,...,...
32684,2025-12-14 00:00:00+07:00,2025-12-13T07:00:00+07:00,0.0,389.0,NKNN,2025-12-13,NaN,NaN
32689,2025-12-14 00:00:00+07:00,2025-12-13T07:00:00+07:00,0.0,37.0,BKK015,2025-12-13,NaN,NaN
32691,2025-12-14 00:00:00+07:00,2025-12-13T07:00:00+07:00,0.0,221.0,TLPC,2025-12-13,NaN,NaN
32692,2025-12-14 00:00:00+07:00,2025-12-13T07:00:00+07:00,0.0,265.0,BNLG,2025-12-13,NaN,NaN
32698,2025-12-14 00:00:00+07:00,2025-12-13T07:00:00+07:00,0.0,286.0,TSUD,2025-12-13,NaN,NaN

##3.ระบุข้อมูลสูญหาย ของแต่ละสถานีแสดงจำนวนและสัดส่วน

In [31]:
print("ก่อนกรอง:", df_all.shape[0])
print("หลังกรอง:", df_all_new.shape[0])
print("หายไป:", df_all.shape[0] - df_all_new.shape[0])

ก่อนกรอง: 180700
หลังกรอง: 66275
หายไป: 114425

In [35]:
cols = ['tele_station_oldcode']

missing_rows = df_all.merge(
    df_all_new[cols],
    on=cols,
    how='left',
    indicator=True
).query('_merge == "left_only"').drop(columns='_merge')

In [36]:
missing_rows

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,tele_station_oldcode,measure_datetime,station_code,value
0,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,5.0,122.0,PNRN,2025-07-27,NaN,NaN
1,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,17.6,1109578.0,ONE089,2025-07-27,NaN,NaN
2,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,20.0,1512927.0,NaN,2025-07-27,NaN,NaN
3,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,0.0,722.0,POCG,2025-07-27,NaN,NaN
4,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,10.2,1109502.0,ONE013,2025-07-27,NaN,NaN
...,...,...,...,...,...,...,...,...
11903250,2025-12-14 00:00:00+07:00,2025-12-13T07:00:00+07:00,0.0,274.0,NASG,2025-12-13,NaN,NaN
11903251,2025-12-14 00:00:00+07:00,2025-12-13T07:00:00+07:00,0.0,254.0,BJAN,2025-12-13,NaN,NaN
11903252,2025-12-14 00:00:00+07:00,2025-12-13T07:00:00+07:00,0.0,308.0,WEI012,2025-12-13,NaN,NaN
11903253,2025-12-14 00:00:00+07:00,2025-12-13T07:00:00+07:00,0.0,770.0,GLF003,2025-12-13,NaN,NaN
11903254,2025-12-14 00:00:00+07:00,2025-12-13T07:00:00+07:00,0.0,1109588.0,ONE099,2025-12-13,NaN,NaN

In [56]:
df_all_u = df_all.drop_duplicates(subset=cols)
missing_u = missing_rows.drop_duplicates(subset=cols)

In [57]:
total_per_station = (
    df_all_u
    .groupby('tele_station_oldcode')
    .size()
    .reset_index(name='total_rows')
)

In [58]:
missing_per_station = (
    missing_u
    .groupby('tele_station_oldcode')
    .size()
    .reset_index(name='missing_rows')
)

In [59]:
summary = total_per_station.merge(
    missing_per_station,
    on='tele_station_oldcode',
    how='left'
).fillna(0)

summary['missing_ratio'] = summary['missing_rows'] / summary['total_rows']
summary['missing_percent'] = summary['missing_ratio'] * 100

summary.sort_values('missing_percent', ascending=False)

,tele_station_oldcode,total_rows,missing_rows,missing_ratio,missing_percent
10,ATG011,1,1.0,1.0,100.0
1513,YOM016,1,1.0,1.0,100.0
0,ABRT,1,1.0,1.0,100.0
11,ATG021,1,1.0,1.0,100.0
2,AIT001,1,1.0,1.0,100.0
...,...,...,...,...,...
1492,WTLG,1,0.0,0.0,0.0
1493,WTSG,1,0.0,0.0,0.0
1494,WWST,1,0.0,0.0,0.0
1496,YCUM,1,0.0,0.0,0.0
1497,YGHM,1,0.0,0.0,0.0

## 4.คัดสถานีที่สูญหาย >= 20% ออก

###เนื่องจากไม่มีข้อมูลที่สุญหายเกิน 20% จึงเก็บไว้หมด

In [50]:
df_all_new

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,tele_station_oldcode,measure_datetime,station_code,value
7,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,0.4,172.0,RBPI,2025-07-27,NaN,NaN
8,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,7.0,830.0,RNGH,2025-07-27,NaN,NaN
11,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,6.0,636.0,PPCT,2025-07-27,NaN,NaN
18,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,2.4,481.0,PICI,2025-07-27,NaN,NaN
25,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,8.2,326.0,PHON,2025-07-27,NaN,NaN
...,...,...,...,...,...,...,...,...
32684,2025-12-14 00:00:00+07:00,2025-12-13T07:00:00+07:00,0.0,389.0,NKNN,2025-12-13,NaN,NaN
32689,2025-12-14 00:00:00+07:00,2025-12-13T07:00:00+07:00,0.0,37.0,BKK015,2025-12-13,NaN,NaN
32691,2025-12-14 00:00:00+07:00,2025-12-13T07:00:00+07:00,0.0,221.0,TLPC,2025-12-13,NaN,NaN
32692,2025-12-14 00:00:00+07:00,2025-12-13T07:00:00+07:00,0.0,265.0,BNLG,2025-12-13,NaN,NaN
32698,2025-12-14 00:00:00+07:00,2025-12-13T07:00:00+07:00,0.0,286.0,TSUD,2025-12-13,NaN,NaN

##จำนวนสถานที่ ทั้งหมด

In [61]:
df_all_new['tele_station_oldcode'].nunique()

384

In [64]:
df_all_new['tele_station_oldcode'].value_counts()

tele_station_oldcode
NPNK      184
PGKH      184
NPSD      184
NPCT      184
NPI001    184
         ...
BPTG       51
CHNA       46
CHI010     42
WAN005     36
NPI002     15
Name: count, Length: 384, dtype: int64

##5.เติมข้อมูลที่หายไป

In [66]:
rh

      Node   rain  month  year
0     ACRU   83.0      7  2025
1     ACRU  164.8      8  2025
2     ACRU  248.6      9  2025
3     ACRU   48.4     10  2025
4     ACRU   52.2     11  2025
5     ACRU    0.2     12  2025
6     BBHN  391.6      7  2025
7     BBHN  641.2      8  2025
8     BBHN  517.6      9  2025
9     BBHN  198.8     10  2025
10    BBHN  224.0     11  2025
11    BBHN    5.8     12  2025
12    BBUA  135.6      7  2025
13    BBUA   58.0      8  2025
14    BBUA   14.8      9  2025
15    BBUA   71.8     10  2025
16  YOM012  100.6     11  2025
17  YOM012    8.0     12  2025

In [68]:
import pandas as pd

# To avoid SettingWithCopyWarning, explicitly work on a copy if df_all_new was created as a slice
df_all_new = df_all_new.copy()

# 1. Prepare df_all_new: Convert 'measure_datetime' to datetime and extract 'month' and 'year'
df_all_new['measure_datetime'] = pd.to_datetime(df_all_new['measure_datetime'])
df_all_new['month'] = df_all_new['measure_datetime'].dt.month
df_all_new['year'] = df_all_new['measure_datetime'].dt.year

# 2. Prepare rh for merging
# Rename 'Node' to 'tele_station_oldcode' to match df_all_new
rh_for_merge = rh.rename(columns={'Node': 'tele_station_oldcode'})
# Keep only relevant columns for merging and the rain value
rh_for_merge = rh_for_merge[['tele_station_oldcode', 'month', 'year', 'rain']]

# 3. Merge rh_for_merge into df_all_new to get the monthly rain values
df_all_new = pd.merge(
    df_all_new,
    rh_for_merge,
    on=['tele_station_oldcode', 'month', 'year'],
    how='left' # Use left merge to keep all rows from df_all_new
)

# Rename the merged 'rain' column to be more descriptive
df_all_new.rename(columns={'rain': 'monthly_rain_from_rh'}, inplace=True)


# 4. Fill missing 'rainfall_value' in df_all_new using 'monthly_rain_from_rh'
# Only fill if 'rainfall_value' is NaN
df_all_new['rainfall_value'] = df_all_new['rainfall_value'].fillna(df_all_new['monthly_rain_from_rh'])

# 5. Clean up: Drop the temporary columns if no longer needed
df_all_new.drop(columns=['monthly_rain_from_rh', 'month', 'year'], inplace=True)

print("เติมข้อมูลที่หายไปในคอลัมน์ 'rainfall_value' ของ df_all_new ด้วยค่าปริมาณน้ำฝนรายเดือนจาก rh แล้วครับ")
print("ตรวจสอบข้อมูลที่หายไปหลังจากเติม:")
display(df_all_new['rainfall_value'].isnull().sum())
print("แถวที่มีค่า 'rainfall_value' เป็น NaN หลังจากการเติม:")
display(df_all_new[df_all_new['rainfall_value'].isnull()])

display(df_all_new.head())

เติมข้อมูลที่หายไปในคอลัมน์ 'rainfall_value' ของ df_all_new ด้วยค่าปริมาณน้ำฝนรายเดือนจาก rh แล้วครับ
ตรวจสอบข้อมูลที่หายไปหลังจากเติม:

np.int64(1)

แถวที่มีค่า 'rainfall_value' เป็น NaN หลังจากการเติม:

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,tele_station_oldcode,measure_datetime,station_code,value
13900,2025-08-14 00:00:00+07:00,2025-08-14T00:00:00+07:00,NaN,455.0,KKTO,2025-08-13,NaN,NaN

,rainfall_datetime,rainfall_datetime_calc,rainfall_value,tele_station_id,tele_station_oldcode,measure_datetime,station_code,value
0,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,0.4,172.0,RBPI,2025-07-27,NaN,NaN
1,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,7.0,830.0,RNGH,2025-07-27,NaN,NaN
2,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,6.0,636.0,PPCT,2025-07-27,NaN,NaN
3,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,2.4,481.0,PICI,2025-07-27,NaN,NaN
4,2025-07-28 00:00:00+07:00,2025-07-28T07:00:00+07:00,8.2,326.0,PHON,2025-07-27,NaN,NaN

##6.อภิปราย เหตุผลที่่ใช้ median แทน mean

**ความทนทานต่อค่าผิดปกติ (Outliers):**

**Mean (ค่าเฉลี่ย):** ได้รับผลกระทบอย่างมากจากค่าผิดปกติ หรือข้อมูลที่มีค่าสูง/ต่ำกว่าปกติมากๆ เช่น ถ้าปริมาณน้ำฝนส่วนใหญ่เป็น 0-10 มม. แต่มีอยู่ 1 วันที่ฝนตก 1000 มม. ค่าเฉลี่ยจะถูกดึงให้สูงขึ้นอย่างผิดปกติ ซึ่งอาจทำให้ค่าเฉลี่ยไม่สะท้อนปริมาณน้ำฝน 'ทั่วไป' ได้ดีนัก

**Median (มัธยฐาน):** เป็นค่ากลางที่เกิดจากการเรียงลำดับข้อมูลจากน้อยไปมาก และเลือกค่าที่อยู่ตรงกลางพอดีทำให้ไม่ได้รับผลกระทบจากค่าผิดปกติมากเท่าค่าเฉลี่ย จึงเป็นตัวแทนของข้อมูลส่วนใหญ่ได้ดีกว่าเมื่อข้อมูลมี Outliers

**สรุป**
ข้อมูลปริมาณน้ำฝนมักจะมีการกระจายตัวที่ไม่สมมาตรคือมีค่า 0 หรือค่าน้อยๆ จำนวนมาก และมีค่าสูงๆ เพียงไม่กี่ค่านกรณีเช่นนี้ Medianจะเป็นค่ากลางที่เหมาะสมกว่า Mean เพราะ Mean จะถูกดึงไปทางด้านที่มีค่าน้อยหรือมากกว่าตามลักษณะการเบ้ของข้อมูล

##7.คำนวณปริมาณฝนรายเดือน

In [69]:
import pandas as pd

# Ensure 'measure_datetime' is in datetime format
df_all_new['measure_datetime'] = pd.to_datetime(df_all_new['measure_datetime'])

# Extract year and month
df_all_new['year'] = df_all_new['measure_datetime'].dt.year
df_all_new['month'] = df_all_new['measure_datetime'].dt.month

# Calculate monthly rainfall by grouping and summing
monthly_rainfall = df_all_new.groupby(['tele_station_oldcode', 'year', 'month'])['rainfall_value'].sum().reset_index()

# Rename the summed column for clarity
monthly_rainfall.rename(columns={'rainfall_value': 'monthly_total_rainfall'}, inplace=True)

print("คำนวณปริมาณน้ำฝนรายเดือนสำหรับแต่ละสถานีแล้วครับ:")
display(monthly_rainfall.head())

# Optionally, display some basic info about the new DataFrame
print("\nข้อมูลของ DataFrame monthly_rainfall:")
monthly_rainfall.info()

คำนวณปริมาณน้ำฝนรายเดือนสำหรับแต่ละสถานีแล้วครับ:

  tele_station_oldcode  year  month  monthly_total_rainfall
0                 ACRU  2025      7                    83.0
1                 ACRU  2025      8                   164.8
2                 ACRU  2025      9                   248.6
3                 ACRU  2025     10                    48.4
4                 ACRU  2025     11                    52.2

ข้อมูลของ DataFrame monthly_rainfall:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2212 entries, 0 to 2211
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   tele_station_oldcode    2212 non-null   object
 1   year                    2212 non-null   int32
 2   month                   2212 non-null   int32
 3   monthly_total_rainfall  2212 non-null   float64
dtypes: float64(1), int32(2), object(1)
memory usage: 52.0+ KB

###เอาแค่ 4 เดือน

In [71]:
import pandas as pd

# Define the list of specific stations to include
specific_stations = ['ACRU', 'BBHN', 'BBUA', 'YOM012']

# Filter df_all_new to include only these specific stations
df_specific_stations = df_all_new[df_all_new['tele_station_oldcode'].isin(specific_stations)].copy()

# Ensure 'measure_datetime' is in datetime format (it should already be from previous steps, but re-ensure for safety)
df_specific_stations['measure_datetime'] = pd.to_datetime(df_specific_stations['measure_datetime'])

# Extract year and month
df_specific_stations['year'] = df_specific_stations['measure_datetime'].dt.year
df_specific_stations['month'] = df_specific_stations['measure_datetime'].dt.month

# Calculate monthly rainfall by grouping and summing for specific stations
monthly_rainfall_specific = df_specific_stations.groupby(['tele_station_oldcode', 'year', 'month'])['rainfall_value'].sum().reset_index()

# Rename the summed column for clarity
monthly_rainfall_specific.rename(columns={'rainfall_value': 'monthly_total_rainfall'}, inplace=True)

print("คำนวณปริมาณน้ำฝนรายเดือนสำหรับ 4 สถานีที่เลือกแล้วครับ:")
display(monthly_rainfall_specific.head(10))

print("\nข้อมูลของ DataFrame monthly_rainfall_specific:")
monthly_rainfall_specific.info()

คำนวณปริมาณน้ำฝนรายเดือนสำหรับ 4 สถานีที่เลือกแล้วครับ:

  tele_station_oldcode  year  month  monthly_total_rainfall
0                 ACRU  2025      7                    83.0
1                 ACRU  2025      8                   164.8
2                 ACRU  2025      9                   248.6
3                 ACRU  2025     10                    48.4
4                 ACRU  2025     11                    52.2
5                 ACRU  2025     12                     0.2
6                 BBHN  2025      7                   391.6
7                 BBHN  2025      8                   641.2
8                 BBHN  2025      9                   517.6
9                 BBHN  2025     10                   198.8

ข้อมูลของ DataFrame monthly_rainfall_specific:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   tele_station_oldcode    24 non-null     object
 1   year                    24 non-null     int32
 2   month                   24 non-null     int32
 3   monthly_total_rainfall  24 non-null     float64
dtypes: float64(1), int32(2), object(1)
memory usage: 708.0+ bytes

In [72]:
monthly_rainfall_specific

   tele_station_oldcode  year  month  monthly_total_rainfall
0                  ACRU  2025      7                    83.0
1                  ACRU  2025      8                   164.8
2                  ACRU  2025      9                   248.6
3                  ACRU  2025     10                    48.4
4                  ACRU  2025     11                    52.2
5                  ACRU  2025     12                     0.2
6                  BBHN  2025      7                   391.6
7                  BBHN  2025      8                   641.2
8                  BBHN  2025      9                   517.6
9                  BBHN  2025     10                   198.8
10                 BBHN  2025     11                   224.0
11                 BBHN  2025     12                     5.8
12                 BBUA  2025      7                   135.6
13                 BBUA  2025      8                    58.0
14                 BBUA  2025      9                    14.8
15                 BBUA  2025     10                    71.8
16                 BBUA  2025     11                     4.4
17                 BBUA  2025     12                     0.0
18               YOM012  2025      7                    67.6
19               YOM012  2025      8                   149.8
20               YOM012  2025      9                   256.0
21               YOM012  2025     10                    30.0
22               YOM012  2025     11                   100.6
23               YOM012  2025     12                     8.0

จัดรูปแบบให้ตรง output_monthly_rainfall.csv

In [73]:
output_monthly_rainfall = monthly_rainfall_specific.rename(columns={
    'tele_station_oldcode': 'Node',
    'monthly_total_rainfall': 'rain',

})

In [74]:
output_monthly_rainfall = output_monthly_rainfall[['Node', 'rain', 'month', 'year']]

In [75]:
output_monthly_rainfall

      Node   rain  month  year
0     ACRU   83.0      7  2025
1     ACRU  164.8      8  2025
2     ACRU  248.6      9  2025
3     ACRU   48.4     10  2025
4     ACRU   52.2     11  2025
5     ACRU    0.2     12  2025
6     BBHN  391.6      7  2025
7     BBHN  641.2      8  2025
8     BBHN  517.6      9  2025
9     BBHN  198.8     10  2025
10    BBHN  224.0     11  2025
11    BBHN    5.8     12  2025
12    BBUA  135.6      7  2025
13    BBUA   58.0      8  2025
14    BBUA   14.8      9  2025
15    BBUA   71.8     10  2025
16    BBUA    4.4     11  2025
17    BBUA    0.0     12  2025
18  YOM012   67.6      7  2025
19  YOM012  149.8      8  2025
20  YOM012  256.0      9  2025
21  YOM012   30.0     10  2025
22  YOM012  100.6     11  2025
23  YOM012    8.0     12  2025

In [76]:
output_path = '/content/drive/MyDrive/output_monthly_rainfall.csv'
output_monthly_rainfall.to_csv(output_path, index=False, encoding='utf-8-sig')
print(f"ไฟล์ 'output_monthly_rainfall.csv' ถูกบันทึกไปที่ {output_path} แล้วครับ")

ไฟล์ 'output_monthly_rainfall.csv' ถูกบันทึกไปที่ /content/drive/MyDrive/output_monthly_rainfall.csv แล้วครับ

#ลิ้งก์ส่งงาน

[ไฟล์ทั้งหมด](https://drive.google.com/drive/folders/1wct-s5jl0vGpkuU6WeaKGj76_N1is6v6?usp=drive_link)